@model BusinessManagementApp.Models.Models.Customer
@{
    Layout = null;
}

@if (ViewBag.SuccesMsg != null)
{
    <h3 style="font-family: 'Times New Roman',Times,Serif; color:darkblue"> @ViewBag.SuccesMsg</h3>
}

@if (ViewBag.FailedMsg != null)
{
    <h3 style="font-family: 'Times New Roman',Times,Serif; color:firebrick"> @ViewBag.FailedMsg</h3>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <style>
        #header {
            height: 50px;
            background-color: burlywood;
            font-size: xx-large;
            text-align: center;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col" id="header">
                Customer Information
            </div>
        </div>
        <form method="post">
            <table>
                <div class="row">
                    <div class="col">
                        Code:
                        <input type="text" class="form-control" name="Code" placeholder="Code">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Name:
                        <input type="text" class="form-control" name="Name" placeholder="Name">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Address:
                        <input type="text" class="form-control" name="Address" placeholder="Address">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        Email:
                        <input type="text" class="form-control" name="Email" placeholder="Email">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        ContactNo:
                        <input type="number" class="form-control" name="ContactNo" placeholder="ContactNo">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        LoyaltyPoint:
                        <input type="text" class="form-control" name="LoyaltyPoint" placeholder="LoyaltyPoint">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" value="Save">Save</button>
            </table>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
