@model BusinessManagementApp.Models.Models.Customer
@{
    Layout = null;
}

@if (ViewBag.SuccesMsg != null)
{
    <h3 style="font-family: 'Times New Roman',Times,Serif; color:darkblue"> @ViewBag.SuccesMsg</h3>
}

@if (ViewBag.FailedMsg != null)
{
    <h3 style="font-family: 'Times New Roman',Times,Serif; color:firebrick"> @ViewBag.FailedMsg</h3>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link href="~/Content/bootstrap-grid.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form method="post">
            <table>
                <tr>
                    <td>Code</td>
                    <td>
                        <input type="text" name="Code"  />
                    </td>
                </tr>

                <tr>
                    <td>Name</td>
                    <td>
                        <input type="text" name="Name"  />
                    </td>
                </tr>

                <tr>
                    <td>Address</td>
                    <td>
                        <input type="text" name="Address"  />
                    </td>
                </tr>

                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" name="Email"  />
                    </td>
                </tr>

                <tr>
                    <td>ContactNo</td>
                    <td>
                        <input type="number" name="ContactNo" />
                    </td>
                </tr>

                <tr>
                    <td>LoyaltyPoint</td>
                    <td>
                        <input type="number" name="LoyaltyPoint" />
                    </td>
                </tr>

                <tr>
                    <td>Action</td>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</body>
</html>
